.proposal-form-wrapper {
  margin-top: 50px;
  display: flex;
  align-items: baseline;
}
input,
textarea {
  border-radius: 10px;
  margin-left: 20px;
  width: 100%;
}

textarea {
  height: 50px;
}

.proposal-submit {
  width: 100px;
}

.nft-upload {
  margin-left: 25px;
  width: 50%;
}

.file-url-bronze,
.file-url-silver,
.file-url-gold {
  font-size: 10px;
}

h5 {
  font-size: 15px;
}

.btn-primary {
  width: 50%;
  height: 50%;
}
