.proposal-list-wrapper {
  height: 100%;
  margin-top: 10px;
}

.proposals-header {
  font-size: 20px;
  font-weight: bold;
}

.proposal-wrapper {
  border: 1px solid black;
  margin-top: 20px;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 10px 10px;
  font-size: 14px;
}

.donate-wrapper {
  display: flex;
  margin-top: 5px;
  margin-bottom: 15px;
}

.donate-button {
  border-radius: 20px;
  margin-right: 10px;
}
